.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 166, 0);
    margin-bottom: 1.5rem;
  }

  .tabu {
    display: flex;
    flex-direction: column;
  }

  .tabuLinha {
    display: flex;
    flex-direction: row;
  }

  .casa {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    font-size: 60px;
    border: 1px solid #000;
  }
}  